[general]
unpack=true
bootstrap=xenial ros
aptsources=xenial ros
multiarch=arm64

[xenial]
packages=libconsole-bridge-dev libboost-all-dev libtinyxml-dev liblz4-dev libbz2-dev libc6
source=http://ports.ubuntu.com/ubuntu-ports
components=main universe
architecture=arm64
suite=xenial

[ros]
packages=python-catkin-pkg
source=http://packages.ros.org/ros/ubuntu
components=main
architecture=arm64
suite=xenial
